body {
font-family: Helvetica;
font-size: 1.2rem;
background-color: #fafafa;
max-width: 60em;
margin: auto;
}

textarea, input, button {
font-family: inherit;
font-size: inherit;
background-color: inherit;
}

button {
padding: .6em 1em;
}

.button {
border: 2px outset;
padding: .6em 1em;
text-decoration: none;
color: black;
}

.button:active {
border-style: inset;
}

footer {
font-style: italic;
text-align: right;
}

#authentication {
text-align: center;
}

