<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{g.page}} - Wiki</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/website.css') }}">
</head>
<body>
{% block main %}{% endblock %}
{% if g.backlinks %}
  <section id="backlinks">
    <hr />
    <p>Backlinks</p>
    <nav>
      <ul>{%for backlink in g.backlinks%}<li><a href="/{{backlink}}">{{backlink}}</a></li>{%endfor%}</ul>
    </nav>
  </section>
{% endif %}
{% include "footer.html" %}
</body>
</html>
