{% extends "base.html" %}
{% block main %}
  <form method="POST">
    <textarea name="source" cols="120" rows="24">{{g.source}}</textarea>
    <br />
    <button type="submit">Update content</button>
    <a class="button" href="/{{g.page}}">Cancel</a>
  </form>
{% endblock %}
