{% extends "base.html" %}
{% block main %}
  <section id="authentication">
    <form method="POST">
      <p><input type="text" name="login" id="login" placeholder="login" /></p>
      <p><input type="password" name="password" id="password" placeholder="password" /></p>
      <p><button type="submit">Connexion</button></p>
    </form>
  </section>
{% endblock %}
